textarea.note-content {
    margin-top: 1em;
    resize: none;
    border: none;
    width: 100%;
}

input.note-title {
    border: none;
}

textarea.note-content:focus, input.note-title:focus {
    border-color: white !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fa-icon {
    margin-left: 3em;
    cursor: pointer;
    font-size: small;
}

.username, .isSaving {
    font-size: small;
    text-align: center;
}

textarea.note-content {
    font-family: 'Source Serif Pro', sans-serif;
}

input.note-title {

    font-family: 'Source Serif Pro';
    font-size: large;
    
}