<div class="container">
    <hr/>
    <div class="row">
        <div class="col-md-4 list-container">
            <div class="search-container">
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" class="form-control search-input" (input) = "onSearch($event)" placeholder="Search...">
                    </div>
                    <div class="col-md-2">
                        <fa-icon [icon]="faPlus" class="text-info new-note-button" (click) = "onNewNote()"></fa-icon>
                    </div>
                </div>
                <div class="undo-delete" *ngIf = "recentlyDeleted.isRecentlyDeleted">
                    <span class="text-info undo-delete-text" (click) = "onUndoDelete()">Undo Delete</span>
                </div>
                <hr/>
            </div>
            <div class="notes-list" *ngFor = "let note of renderNotes().reverse()">
                <app-list [note] = "note" ></app-list>
            </div>
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer class="footer text-dark-50">
        <div class="container text-center"><small>Simplenote</small></div>
    </footer>

</div>

