<div class="card">
    <div class="card-body">
      <h5 class="card-title">Register</h5>
      <hr/>
      <form (ngSubmit) = "onFormSubmit()" [formGroup]="registrationForm">
        <div class="form-group">
            <input
                type="text"
                class="form-control"
                name = "username"
                [formControlName] = "'username'"
                placeholder="Username">

            <input
                type="email"
                class="form-control"
                name = "email"
                [formControlName] = "'email'"
                placeholder="Email">
            
            <input
                type="password"
                class="form-control"
                name = "password"
                [formControlName] = "'password'"
                placeholder="Password">
        </div>
        <br/>
        <button class="btn btn-info">Submit</button>
      </form>
      <br/>
      <a [routerLink] = "'/auth/login'" class="card-link">Login</a>
    </div>
  </div>