<div class="container">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <hr/>
          <form (ngSubmit) = "onFormSubmit()" [formGroup]="loginForm">
            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    name = "username"
                    [formControlName] = "'username'"
                    placeholder="Username">
                
                <input
                    type="password"
                    class="form-control"
                    name = "password"
                    [formControlName] = "'password'"
                    placeholder="Password">
            </div>
            <br/>
            <button class="btn btn-info">Submit</button>
          </form>
          <br/>
          <a [routerLink]="'/auth/register'" class="card-link">Register</a>
        </div>
      </div>
</div>
